body
{
    color: red;
    text-align: left;
    font-family: sans-serif;
    font-size: 20px;
}

#cabecera 
{
    
    background-color: rgb(157, 245, 85);
    box-shadow: 0px 2px 20px 0px rgb(0, 0, 0);
    font-weight: bold;
}

#post p 
{
    font-family: 'Segoe UI';
    font-size: 30px;
    font-weight: bold;
}

#textline 
{
    color: white;
    font-size: 25px;
    padding: 0 0 0 1rem;
    font-weight: bold;
}

#container 
{
    width: 70%;
    border: 1px solid #ddd;
    margin: auto;
}

#container h1 
{
    font-size: 20px;
}

