body
{
    color: #333;
    text-align: left;
    font-family: sans-serif;
    font-size: 19px;
}

#cabecera 
{
    
    background-color: rgb(64, 51, 238);
    box-shadow: 0px 2px 20px 0px rgb(0, 0, 0);
    font-weight: bold;
    color: white;
}

#post p 
{
    font-family: 'Segoe UI';
    font-size: 30px;
    font-weight: bold;
}

#textline 
{
    color: white;
    font-size: 25px;
    padding: 0 0 0 2rem;
    font-weight: bold;
}

#container 
{
    width: 70%;
    border: 1px solid #ddd;
    margin: auto;
}

#container h1 
{
    font-size: 20px;
}

#footer 
{
    width: 97.5%;
    background-color: darkslateblue;
    text-align: center;
    color: white;
    padding: 0.5rem;
}

