body
{
    color: #333;
    text-align: left;
    font-family: sans-serif;
    font-size: 19px;
}

#cabecera 
{

    background-color: #37488b;
    box-shadow: 0px 2px 20px 0px rgb(0, 0, 0);
    font-weight: bold;
    height: 22px;
    margin: 0;
    padding: 0.5rem;
}

#cabecera #img
{
    width: 25px;
    vertical-align: middle; 
    padding: 0 2px 0px 0px;   
}

#post p 
{
    font-family: 'Segoe UI';
    font-size: 30px;
    font-weight: bold;
}

#cabecera #img
{
    width: 20px;
    vertical-align: middle;
}

#cabecera #textline 
{
    color: white;
    font-size: 25px;
    padding: 0 0 0 2rem;
    font-weight: bold;
}

#container 
{
    width: 70%;
    border: 1px solid #ddd;
    margin: 0 auto;
}

#container h1 
{
    font-size: 20px;
}

#footer 
{
    width: 97.5%;
    background-color: darkslateblue;
    text-align: center;
    color: white;
    padding: 0.5rem;
}

